<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Nous - Zapatos</title>
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:fragment="Categorias" class="py-5">
            <div class="container py-5">
                <h2 class="text-center mb-5 fw-bold display-5">Zapatos</h2>
                <div class="row g-4">
                    <div class="col-md-4">
                        <a href="/producto/tenis" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/tennis_blanca.jpg}" style="height: 450px; object-fit: cover;" alt="Tennis" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Tennis</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/botas" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/bota_mujer.jpg}" style="height: 450px; object-fit: cover;" alt="Botas" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Botas</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/zapatos-formales" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/zapato_formal_hombre.jpg}" style="height: 450px; object-fit: cover;" alt="Zapatos Formales" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Zapatos Formales</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/sandalias" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/sandalia_minimalista.jpg}" style="height: 450px; object-fit: cover;" alt="Sandalias" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Sandalias</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/zapatos-casuales" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/zapato_casual_mujer.jpg}" style="height: 450px; object-fit: cover;" alt="Zapatos Casuales" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Zapatos Casuales</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>