<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Nous - Accesorios</title>
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:fragment="Categorias" class="py-5">
            <div class="container py-5">
                <h2 class="text-center mb-5 fw-bold display-5">Accesorios</h2>
                <div class="row g-4">
                    <div class="col-md-4">
                        <a href="/producto/bolso-mochila" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/mochila_minimalista.jpg}" style="height: 450px; object-fit: cover;" alt="Bolsos" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Bolsos y Mochilas</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/joyería" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/anillo_dorado.jpg}" style="height: 450px; object-fit: cover;" alt="Joyas" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Joyería</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/gorras-sombreros" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/gorra_team.jpg}" style="height: 450px; object-fit: cover;" alt="Gorras" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Gorras y Sombreros</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/cinturones" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/cinturon_cuero.jpg}" style="height: 450px; object-fit: cover;" alt="Cinturones" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Cinturones</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/lentes" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/lentes_aviador.jpg}" style="height: 450px; object-fit: cover;" alt="Lentes" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Lentes</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="/producto/bufandas-guantes" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img th:src="@{/img/bufanda_tejida.jpg}" style="height: 450px; object-fit: cover;" alt="Bufandas" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Bufandas y Guantes</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>