<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Nous</title>
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">

        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:fragment="Categorias" class="py-5">
            <div class="container py-5">
                <h2 class="text-center mb-5 fw-bold display-5">Mujer</h2>
                <div class="row g-4">
                    <div class="col-md-4">
                        <a href="/producto/vestidos" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img src="https://i.pinimg.com/474x/7d/25/1a/7d251a438c5085836c07ec76b9668c56.jpg" 
                                    alt="Vestidos" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Vestidos</h5>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="/producto/blusas" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img src="https://i.pinimg.com/474x/cc/76/e9/cc76e99a07d18e6838975bd2fdf9ff69.jpg" 
                                    alt="Blusas" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Blusas</h5>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">
                        <a href="/producto/enaguas" class="text-decoration-none">
                            <div class="card shadow-sm rounded-4 border-0">
                                <img src="https://i.pinimg.com/736x/51/e5/09/51e509ef466e8f19c86294ea70fb093e.jpg" 
                                     alt="Faldas" class="card-img-top rounded-top-4" />
                                <div class="card-body text-center">
                                    <h5 class="card-title text-dark">Faldas</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>