<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Nous - Moda Femenina</title>
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">

        <header th:replace="~{layout/plantilla :: header}"/>

        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-5 fw-bold display-6">Fajas y Estilo Confort</h2>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img th:src="@{/img/cinturon_cuero.jpg}" class="card-img-top rounded-top-4" style="height: 450px; object-fit: cover;" alt="Cinturón de Cuero Clásico">
                                <div class="card-body text-center d-flex flex-column">
                                    <h5 class="card-title">Cinturón de Cuero Clásico</h5>
                                    <p class="card-text">Cinturón de cuero genuino con hebilla metálica elegante y resistente.</p>
                                    <p class="card-text"><strong>Material:</strong> Cuero</p>
                                    <p class="card-text"><strong>Precio:</strong> ₡18,200</p>
                                    <p class="card-text"><strong>Disponibles:</strong> 35</p>
                                    <a href="#" class="btn btn-dark px-3 rounded-3 text-white mt-auto">Añadir al carrito</a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img th:src="@{/img/cinturon_trenzado.jpg}" class="card-img-top rounded-top-4" style="height: 450px; object-fit: cover;" alt="Cinturón Trenzado Casual">
                                <div class="card-body text-center d-flex flex-column">
                                    <h5 class="card-title">Cinturón Trenzado Casual</h5>
                                    <p class="card-text">Cinturón tejido con materiales flexibles para un estilo relajado.</p>
                                    <p class="card-text"><strong>Material:</strong> Políester tejido</p>
                                    <p class="card-text"><strong>Precio:</strong> ₡15,800</p>
                                    <p class="card-text"><strong>Disponibles:</strong> 28</p>
                                    <a href="#" class="btn btn-dark px-3 rounded-3 text-white mt-auto">Añadir al carrito</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>