<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Nous - Tenis de Moda</title>
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">

        <header th:replace="~{layout/plantilla :: header}"/>

        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-5 fw-bold display-6">Tenis de Moda</h2>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img th:src="@{/img/tennis_blanca.jpg}" class="card-img-top rounded-top-4" style="height: 350px; object-fit: cover;" alt="Tenis blanco clásico">
                                <div class="card-body text-center d-flex flex-column">
                                    <h5 class="card-title">Tenis Blanco Clásico</h5>
                                    <p class="card-text">Diseño minimalista con suela de goma y ajuste cómodo.</p>
                                    <p class="card-text"><strong>Material:</strong> Cuero sintético y goma</p>
                                    <p class="card-text"><strong>Precio:</strong> ₡35,940</p>
                                    <p class="card-text"><strong>Disponibles:</strong> 35</p>
                                    <a href="#" class="btn btn-dark px-3 rounded-3 text-white mt-auto">Añadir al carrito</a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img th:src="@{/img/tennis_casual.jpg}" class="card-img-top rounded-top-4" style="height: 350px; object-fit: cover;" alt="Tenis casual grises">
                                <div class="card-body text-center d-flex flex-column">
                                    <h5 class="card-title">Tenis Casual Grises</h5>
                                    <p class="card-text">Combinan estilo y confort para uso diario.</p>
                                    <p class="card-text"><strong>Material:</strong> Malla textil y goma</p>
                                    <p class="card-text"><strong>Precio:</strong> ₡31,200</p>
                                    <p class="card-text"><strong>Disponibles:</strong> 27</p>
                                    <a href="#" class="btn btn-dark px-3 rounded-3 text-white mt-auto">Añadir al carrito</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
