<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Nous - Moda Femenina</title>
    </head>
    <body class="d-flex flex-column min-vh-100 bg-light">
        
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-5 fw-bold display-6">Nuevas Tendencias</h2>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <!-- Producto 1 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm rounded-4 border-0">
                            <img src="https://static.zara.net/photos///2024/V/0/1/p/8747/529/800/2/w/750/8747529800_6_1_1.jpg?ts=1713270308056" class="card-img-top rounded-top-4" alt="Vestido negro con abertura">
                                <div class="card-body text-center d-flex flex-column">
                                    <h5 class="card-title">Vestido Cut-Out Negro</h5>
                                    <p class="card-text">Vestido ajustado con abertura lateral y escote redondo.</p>
                                    <p class="card-text"><strong>Precio:</strong> $39.99</p>
                                    <p class="card-text"><strong>Disponibles:</strong> 15</p>
                                    <a href="#" class="btn px-3 rounded-3 text-white" style="background-color: MediumVioletRed;">Añadir al carrito</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>